*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
build/*
!v01/build/v01.pdf
!/build/v21.pdf
!/build/v44.pdf
!/build/v61.pdf
!/build/v64.pdf
.vscode